<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Assets/imagenes/minipipo_logo.jpeg">
    <meta name="Keywords" content="ropa, bebe, beba, ropita">
    <meta name="author" content="Marcos Escobar">
    <meta name="description" content="Página de venta de ropa para niños en la ciudad de Campana">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Normalizeminipipo.css">
    <link rel="stylesheet" href="../minipipo.css">
    <title>Minipipo</title>
</head>
<body>
<!-- comienza el menú -->
<header class="menu_principal">
    <div class="panel__wrapper">
        <h4>Con una compra mínima de $8000, ¡El envío es gratuito!</h4>
    </div>
    <div class="top">
        <div class="logIn icon">
            <img src="../Assets/imagenes/login.png" alt="">
        </div>
        <div class="logo">
            <a class="logo_central" href="../index.html"><img src="../Assets/imagenes/minipipo_icon.png" alt=""></a>            
        </div>
        <div class="shop icon">
            <img src="../Assets/imagenes/favoritos.png" alt="">
            <img src="../Assets/imagenes/carrito.png" alt=""> 
        </div>
    </div>
    <div class="menu_principal">
        <nav class="menu_principal-nav">
            <ul>
                <li class="menu_principal__item"><a href="../index.html">Inicio</a></li>
                <li class="menu_principal__item navIzq"><a href="productos.html">Producto</a></li>
                <li class="menu_principal__item navCenter"><a href="contacto.html">Contacto</a></li>
                <li class="menu_principal__item navDer"><a href="preguntas_frecuentes.html">Preguntas frecuentes</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- finaliza el menú -->
<!-- comienza contenido -->
    <main>
        <div class="contenido">
            <h1>CAMBIOS Y DEVOLUCIONES</h1>
                <p> Los cambios se deben gestionar dentro de los primeros 90 días luego de realizar la compra.
                    Podés realizar el cambio de un producto por otro talle, color o artículo, presentandola en nuestra sucursal con la factura o el ticket de cambio. En caso de haber diferecias de costos de los articulos, se devolverá o se pagará la diferencia.<br><br>             
                    <b>Contactandose a Atención al Cliente</b> <br><br>
                    En este caso, le ofrecemos reintegrarte el dinero en tu cuenta de Minipipo por el monto abonado. Podes solicitar el cambio enviando un mail con la imagen de la factura y de la prenda a atencionalcliente@minipipo.com.ar. En este caso recordá que para acelerar el reclamo debes indicarnos en el asunto del email "cambio/devolución". Para realizar el cambio, podes coordinar con nosotros o enviar la/las prendas por un tercero haciendose usted responsable de las mismas. <br><br>
                    <b>Condiciones para el cambio/devoluciones:</b> <br><br>
                    Es condición para la devolución o cambio, que las prendas sean preservadas y presentadas de la siguiente manera:</p>
                <div>
                    <ul>
                        <li>Las etiquetas deben estar intactas</li> <br>
                        <li>Las prendas no deben estar lavadas ni usadas. Tampoco deben presentar olores, manchas ni alteraciones hechas por el cliente (dobladillos, pinzas, etc.)</li> <br>
                        <li>Si abonaste costo de envio, el mismo no se reintegrará junto con el valor de las prendas abonadas a devolver de tu pedido, a excepcion que hayamos tenido un problema en el proceso de logistica o que hayamos sufrido fallas de calidad al entregar el producto</li> <br>
                        <li>Promocion 2x1: la prenda bonificada <b>NO</b> tiene cambio ni devolución</li> <br>
                    </ul>
                </div>   
                </p>
        </div>
    </main>
<!-- finaliza contenido -->
    <hr></hr>
<!-- comienza el footer -->
<footer class="footer">
    <div class="fooNws ">
        <p class="footer--newsletter">SI TE REGISTRAS A NUESTRO NEWSLATTER PODES ACCEDER A UN 10% DE DESCUENTO EN TU PRIMERA COMPRA!!</p>
        <div class="newslatter">
            <form action="">
                <label for="newslatter">
                    <input type="text" name="correo" placeholder="Ingresá tu mail"> 
                    <button type="submit">Enviar</button>
                </label>
            </form> 
        </div>
    </div>
    <div class="grids_foo">
            <div class="icon envios">
                <a href="envios.html"><img src="../Assets/imagenes/envios_icon.png" alt=""></a>
            </div>
            <div class="icon devoluciones">
                <a href="cambios_y_devoluciones.html"><img src="../Assets/imagenes/devolucion.png" alt=""></a>
            </div>
            <div class="icon rrss ">
                <a target="_blank" href="https://www.instagram.com/minipipo.kids/"><img src="../Assets/imagenes/rs_ig.png" alt="instagram/minipipo"/></a>
                <a target="_blank" href="https://www.facebook.com/minipipo.kids/"><img src="../Assets/imagenes/rs_fb.png" alt="facebook/minipipo" /></a>
            </div>
            <div class="envios_text">
                <h4>Envios</h4>
            </div>
            <div class="devolucionestext">
                <h4>Cambios y devoluciones</h4>
            </div>
            <div class="rrsstext">
                <h4>Seguinos en las redes</h4>
            </div>
        </div> 
    </div>  
</footer>
<!-- finaliza el footer -->
</body>
</html>