<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/imagenes/minipipo_logo.jpeg">
    <meta name="Keywords" content="ropa, bebe, beba, ropita">
    <meta name="author" content="Marcos Escobar">
    <meta name="description" content="Página de venta de ropa para niños en la ciudad de Campana">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Normalizeminipipo.css">
    <link rel="stylesheet" href="../minipipo.css">
    <title>Minipipo</title>
</head>
<body>
<!-- comienza el menú -->
<header class="menu_principal">
    <div class="panel__wrapper">
        <h4>Con una compra mínima de $8000, ¡El envío es gratuito!</h4>
    </div>
    <div class="top">
        <div class="logIn icon">
            <img src="../assets/imagenes/login.png" alt="">
        </div>
        <div class="logo">
            <a class="logo_central" href="../index.html" ><img src="../assets/imagenes/minipipo_icon.png" alt=""</></a>            
        </div>
        <div class="shop icon">
            <img src="../assets/imagenes/favoritos.png" alt="">
            <img src="../assets/imagenes/carrito.png" alt=""> 
        </div>
    </div>
    <div class="menu_principal">
        <nav class="menu_principal-nav">
            <ul>
                <li class="menu_principal__item"><a href="../index.html">Inicio</a></li>
                <li class="menu_principal__item navIzq"><a href="productos.html">Producto</a></li>
                <li class="menu_principal__item navCenter"><a href="contacto.html">Contacto</a></li>
                <li class="menu_principal__item navDer"><a href="preguntas_frecuentes.html">Preguntas frecuentes</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- finaliza el menú -->
    <main>
        <div class="contenido">
            <h1><b>ENVÍOS</b></h1>
                <p>
                    <b>¿Cuáles son los metodos de envío?</b> <br><br>
                    <u>Retiro en nuestra sucursal</u>: Podrás acercarte a retirar el pedido por nuestra sucursal. Cuando tu pedido se encuentre en nuestro local le enviaremos un email avisandole que tu pedido ya esta listo para ser retirado. El retiro del mismo está a cargo del titular, o bien, de un tercero con autorización del titular y documento que acredite su identidad. Una vez que tu pedido llegue a nuestra sucursal, tendrás hasta 15 días para poder retirarlo. En caso de no retirar las prendas en los próximos 15 días, se volverán a nuestro depósito y se generará el crédito en cuenta correspondiente al valor total de la misma. Este crédito se podrá utilizar en las futuras compras que tú desees. <br>
                    En modalidad de días especiales como Cibermonday, BlackFriday o promociones en el sito web, los tiempos de procesamientos, envios y entregas pueden verse afectados. Dado este caso se le informara a los clientes las demoras respectivas.<br><br>
                    <u>Envío por parte de nuestro personal</u>: si te encontrás en menos de 30km de distancia, podemos acercarte el pedido acordando un horario especifico. <br> 
                    <u>Envío por terceros</u>: en caso de tomar esta opción, se le informa que el titular es quien abonará el costo del envío por fuera del costo del pedido. <br><br>
                    <b>¿Cuáles son los costos de envío?</b><br><br>
                    Con una compra mínima de $8000, ¡El envío es gratuito! Las promociones con envío gratuito serán comunicadas en el sitio web.<br><br>
                    <b>¿Pueden enviar mi pedido para regalo?</b><br><br>
                    ¡Claro que sí! Recordá seleccionar la opción de regalo en cada una de las prendas y luego confirmando en el carrito de compras, tu pedido se enviará dentro de una de nuestras cajas artesanales y sus respectivas bolsitas, las cuales pueden sufrir un pequeño deterioro en el proceso de envío hasta su destino final.<br><br>
                    <b>¿Cómo puedo saber donde está mi pedido?</b><br><br>
                    Al realizar el pedido, se le enviará un email a su casilla de correo electronico. Recordá que si seleccionas la opción de envío de nuestro personal, debes estar en el sitio donde nos indicas en el horario pactado. Para este caso te enviaremos nuestra ubicación en tiempo real por medio de nuestro Whatsapp.
                </p>
        </div>
    </main>
    <hr></hr>
<!-- comienza el footer -->
<footer class="footer">
    <div class="fooNws ">
        <p class="footer--newsletter">SI TE REGISTRAS A NUESTRO NEWSLATTER PODES ACCEDER A UN 10% DE DESCUENTO EN TU PRIMERA COMPRA!!</p>
        <div class="newslatter">
            <form action="">
                <label for="newslatter">
                    <input type="text" name="correo" placeholder="Ingresá tu mail"> 
                    <button type="submit">Enviar</button>
                </label>
            </form> 
        </div>
    </div>
    <div class="grids_foo">
            <div class="icon envios">
                <a href="envios.html"><img src="../assets/imagenes/envios_icon.png" alt=""></a>
            </div>
            <div class="icon devoluciones">
                <a href="cambios_y_devoluciones.html"><img src="../assets/imagenes/devolucion.png" alt=""></a>
            </div>
            <div class="icon rrss ">
                <a target="_blank" href="https://www.instagram.com/minipipo.kids/"><img src="../assets/imagenes/rs_ig.png" alt="instagram/minipipo"/></a>
                <a target="_blank" href="https://www.facebook.com/minipipo.kids/"><img src="../Assets/imagenes/rs_fb.png" alt="facebook/minipipo" /></a>
            </div>
            <div class="envios_text">
                <h4>Envios</h4>
            </div>
            <div class="devolucionestext">
                <h4>Cambios y devoluciones</h4>
            </div>
            <div class="rrsstext">
                <h4>Seguinos en las redes</h4>
            </div>
        </div> 
    </div>  
</footer>
<!-- finaliza el footer -->
</body>
</html>